.resetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.resetContent{
    width: 300px;
    box-shadow: 0 0 10px 0 #ccc;
    display: grid;
    align-items: center;
    gap: 28px;
    margin: auto;
    padding: 32px 24px;
    background-color: white;
 }
 
 .passwordWrapper,
 .reenteredPasswordWrapper{
     display: grid;
 }
 
 .passwordWrapper input,
 .reenteredPasswordWrapper input{
     height: 32px;
     margin-top: 8px;
 }
 
 
 .resetPassword button {
     text-transform: capitalize;
     /* margin-top: 24px; */
 }
 

 .invalidErrorMessage {
    color: firebrick;
 }

 .resetPasswordHeading{
    margin: 0;
    text-align: center;
 }

 