.forgotPassword{
    background-image: url(https://touchpoint.brownadvisory.com/brown-web/resources/images/loginFullBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 50PX;
    background-position: center;
}


.fpContent{
    width: 300px;
    box-shadow: 0 0 10px 0 #ccc;
    display: grid;
    align-items: center;
    gap: 36px;
    margin: auto;
    padding: 40px 24px;
    background-color: white;
 }
 
 .userNameWrapper {
     display: grid;
 }
 
 .userNameWrapper input{
     height: 32px;
     margin-top: 8px;
 }
 
 
 .forgotPassword button {
     text-transform: capitalize;
     /* margin-top: 24px; */
 }
 

 .invalidErrorMessage {
    color: firebrick;
 }

 .fpHeading{
    margin: 0;
    text-align: center;
 }

 .associatedEmailText {
    color: seagreen;
 }

 